/* Импорт шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sail&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lobster', cursive;
  background-color: white;
  color: red;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 30px;
}

header a img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

h1 {
  font-family: 'Sail', cursive;
  font-size: 96px;
  text-align: center;
  margin-top: 200px;
}

.greeting {
  font-size: 24px;
  text-align: center;
  margin-top: 100px;
}

.sections {
  text-align: start;
  gap: 10px;
  margin-top: 20px;
  padding: 30px;
}

.sections h2 {
  cursor: pointer;
  display: inline-block;
  padding: 10 50px;
  margin: 10px;
  font-size: 20px;
  border-radius: 15px;
  color: red;
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
  text-shadow: none;
}

.sections h2:hover {
  transform: scale(1.1);
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

.sections ul {
  list-style: none;
  padding: 10px;
}

.sections li {
  margin: 10px 0;
}

.sections li a {
  cursor: pointer;
  color: rgba(240, 0, 0, 1);
  text-decoration: none;
  font-weight: normal;
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
  text-shadow: none;
}

.sections li a:hover {
  transform: scale(1.1);
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

.size-text {
  font-size: 0.9rem;
  color: rgba(240, 0, 0, 0.75);
  margin: 0;
  padding-left: 10px;
  display: block;
}

footer {
  font-family: 'Sail', cursive;
  font-size: 14px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  .sections h2 {
    font-size: 14px;
  }

  .greeting {
    font-size: 14px;
  }

  header a img {
    width: 16px;
    height: 16px;
  }
}